/* 基础信息（神瞳数量等） */
.statsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statsList .item {
  box-sizing: border-box;
  width: 25%;
  padding: 8px;
  text-align: center;
}
.statsList .item .count {
  font-weight: 600;
  font-size: 1.5rem;
}
.statsList .item .desc {
  font-size: 0.8rem;
  color: gray;
}

/* 简单角色卡 */
.characterList {
  display: flex;
  flex-flow: wrap;
}
.characterList .characterCard {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  color: white;
}
.characterList .characterCard.rarity-5 {
  background-color: rgba(228, 157, 71, 0.8);
}
.characterList .characterCard.rarity-4 {
  background-color: rgba(200, 62, 228, 0.8);
}
.characterList .characterCard img {
  width: 120px;
  height: 120px;
}
.characterList .characterCard .characterName {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  padding: 0.2rem;
}

/* 城市列表 */
.cityCard {
  background: #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
}
.cityCard img {
  width: 80px;
  float: left;
}
.cityCard .cityName {
  font-size: 30px;
}
