/* 基础信息（神瞳数量等） */
.profile-container {
  margin: 1rem;
}

.statsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statsList .item {
  box-sizing: border-box;
  width: 25%;
  padding: 8px;
  text-align: center;
}
.statsList .item .count {
  font-weight: 600;
  font-size: 1.6rem;
}
.statsList .item .desc {
  color: gray;
}

/* 简单角色卡 */
.characterList {
  display: flex;
  flex-flow: wrap;
}
.characterList .characterCard {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  color: white;
}
.characterList .characterCard.rarity-5 {
  background-color: #e49d47;
}
.characterList .characterCard.rarity-4 {
  background-color: #c83ee4;
}
.characterList .characterCard img {
  width: 120px;
  height: 120px;
}
.characterList .characterCard .characterName {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  padding: 0.2rem;
}
.characterCard .constellation {
  position: absolute;
  right: -1rem;
  top: -0.8rem;
  border-radius: 50%;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
}
.characterCard.rarity-5 .constellation {
  background-color: #e49d47;
  box-shadow: 0 0 0 3px #fff inset, 0 0 0 3px #e49d47;
}
.characterCard.rarity-4 .constellation {
  background-color: #c83ee4;
  box-shadow: 0 0 0 3px #fff inset, 0 0 0 3px #c83ee4;
}

/* 城市列表 */
.cityList {
  display: flex;
  flex-flow: wrap;
}
.cityCard {
  background-image: url(image/cityCard.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 120px;
  box-sizing: border-box;
  width: calc(50% - 2rem);
  height: 120px;
  color: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
}
.cityCard img {
  width: 90px;
  float: left;
}
.cityCard .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cityCard .cityName {
  font-size: 30px;
}
